@font-face {
  font-family: "Monsterrat";
  src: url("./public/Montserrat-VariableFont_wght.ttf");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: black;
  text-align: center;
}

* > * {
  color: white;
  font-family: 'Monsterrat', Helvetica, sans-serif !important;
  font-weight: 800;
  font-style: normal;
  box-sizing: content-box;
}

#biglogo {
  margin-top: 3rem;
  margin-bottom: 5.5rem;
}

#buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-content: normal;
}

button {
  position: relative;
  background-color: #8464f2;
  border: 3px solid white;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.25rem;
  width: 42rem;
  margin-bottom: 2rem;
}

button:focus {
  background-color: #200d62;
  outline: none;
}

button:focus::before {
  content: '';
  background-image: url("public/Quiver Mini.png");
  width: 4rem;
  aspect-ratio: 1 / 1;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-125%, -50%);
}

button:focus::after {
  content: '';
  background-image: url("public/Quiver Mini.png");
  width: 4rem;
  aspect-ratio: 1 / 1;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(125%, -50%);
}

video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

#cta {
  position: fixed;
  bottom: 1rem;
  right: 4rem;
}

#logos {
  position: fixed;
  bottom: 1rem;
  left: 4rem;
}

#overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: rgba(36, 14, 106, 0.5);
  border: 1rem solid #210d6d;
}